{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "@react-native-community",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "import/order": ["error", { "newlines-between": "always" }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    // ESLint doesn't find React Native components
    // Remove this setting when this issue is fixed.
    // https://github.com/facebook/react-native/issues/28549
    "import/ignore": ["react-native"]
  }
}
