name: cd

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: publish to expo
    uses: nearform/optic-expo/.github/workflows/expo-publish.yml@chore/expo-preview
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}
