name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - run: yarn
      - run: yarn lint
      - run: yarn typecheck
      - run: yarn test
  automerge:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          approve-only: true
  deploy-expo-preview:
    needs: build
    if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/expo-publish.yml
    with:
      channel: pr-${{ github.event.number }}
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}

  build-ios:
    needs: build
    if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/expo-eas-build.yml
    with:
      profile: preview
      platform: ios
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}

  build-android:
    needs: build
    if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/expo-eas-build.yml
    with:
      profile: preview
      platform: android
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}

  eas-update:
    if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/expo-eas-update.yml
    with:
      channel: ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || 'preview'}}
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}
