name: optic-expo-ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn lint
      - run: yarn typecheck
      - run: yarn test

  deploy-expo-preview:
    name: deploy expo preview
    needs: [build]
    if: github.event_name == 'pull_request'
    uses: nearform/optic-expo/.github/workflows/expo-publish.yml@chore/expo-preview
    with:
      channel: pr-${{ github.event.number }}
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}
