name: expo-eas-update

on:
  workflow_call:
    secrets:
      expo-token:
        description: 'expo token'
        required: true
    inputs:
      channel:
        type: string
      message:
        type: string

jobs:
  eas-update:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: yarn

      - uses: expo/expo-github-action@v8
        with:
          expo-cache: true
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.expo-token }}

      - run: yarn install

      - name: Create preview
        uses: expo/expo-github-action/preview@v8
        with:
          command: eas update --branch ${{ inputs.channel }} --message "${{ inputs.message }}"
